$font-1: 'Mansalva', cursive;


@mixin logoanimation {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( to right, #ccccb1, #3c2f79 50%, #000 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s cubic-bezier(0, 0, 0.23, 1);
  cursor: pointer;
}

// landing page styles

.landing-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;  
}

.logo{
  font-size: 1.5rem;
  display: inline-block;
  @include logoanimation()
}

.logo-image{
  height: 8vh;
  width: 7vw;
  margin-left: 2rem;
}


.logo-title{
  margin-top: .5rem;
  color: white;
  letter-spacing: 2px;
  font-size: 3rem;
  font-family: $font-1;
}


.logo-title::first-letter {
  color: #8b73f6;
  font-size: 4rem;
}

.logo:hover {
  background-position: 0%;
}


// nav styles

.link{
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: .5rem;
  color: black;
}

.nav{
  margin: .5rem;
  display: flex;
  justify-content: space-between;
}

.home{
  @include logoanimation()
}

.home:hover{
  background-position: 0%;
}

.logo-title-mini{
  font-family: $font-1;
  font-size: 1.5rem;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: capitalize;
}

// signup and login styles

input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.5);
  outline: none;
  width: 15rem;
  padding: 2px;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}


.login-and-signup{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--signup,
.form--login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.element{
  display: block;
  margin: 4px;
}

.element::placeholder{
  font-size: 1.02rem;
  letter-spacing: 1px;
}

.btn{
  margin: 10px 0px 10px 4px;
  background-color: rgba(0,0,0,.9);
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 15.4rem;
  cursor: pointer;
}
.btn--google{
  background-color: rgba(50,0,205,.9);
}
